.posts
  position: relative
  max-width: 1440px
  min-height: 100%
  margin: 0 auto
  overflow: hidden
  opacity: 1
  zoom: 1
  padding: 0 25px 20px 25px
  transition: opacity 0.2s ease-out

  &-inner
    display: flex
    flex-direction: row

  &-container
    flex-basis: 33.333%

  &-article
    padding: 25px
    box-sizing: border-box