header
  position: relative
  opacity: 1

.header
  margin: 2.5em auto
  overflow: auto

  &-menu
    list-style: none
    margin: 0
    padding: 0
    text-align: center
    text-transform: uppercase
    color: #1E1313
    font-family: "CircularStd-Bold", sans-serif
    font-size: 0.8em
    font-weight: normal

    li
      text-align: left
      display: inline-block
      vertical-align: middle
      margin: 0 25px
      width: 100%
      max-width: 80px

  &-modal, &-link
    &:hover
      content: ''
      cursor: pointer
      color: #3D3E40
    